<html>
  <head>
    <title>Ju's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Ju's blog</a></h1>
      <h2>How much time will I last awake?</h2>
      <h3>Take your guess...</h3>
      <h4>Just a reminder: I can look young and be 24, but my back is around 76 and is already complaining</h4>
    </div>

    <div>
      <p>publicado: 27.04.2019, 23:40</p>
      <h2><a href="">My first post</a></h2>
      <p>Hey! I'm very very excited to build my own blog! Here I plan to test my knowledge with programming and to write whatever comes to my mind. Feel free to give me compliments and to send me good cakes recipes :)</p>
    </div>
  </body>
</html>
